body {
	background-color: rgb(17, 17, 17, 0.9);
	color: aliceblue;
	margin: 0px;
}

.p1-cell {
	background-color: rgb(0, 0, 0);
	width: 35px;
	height: 25px;
	text-align: center;
	padding-top: 10px;
}

.p1-gameboard {
	background-color: white;
	margin: 10px;
	width: 450px;
	display: grid;
	grid-template-columns: repeat(10, 40px);
	gap: 5px;
	padding: 5px;
}

.p2-gameboard {
	background-color: white;
	margin: 10px;
	width: 450px;
	display: grid;
	grid-template-columns: repeat(10, 40px);
	gap: 5px;
	padding: 5px;
}
